* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures that the body fills at least the height of the viewport */
}


main {
    width: 100%;
    margin-top: 80px;
    min-height: 100vh;
    flex: 1; /* This ensures that main takes up the remaining space */
}

/* Navbar styling */
.navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
    color: #CD853F;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/*about page*/
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8%;
}


.about {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.about h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    text-decoration: underline #fff;
    text-underline-offset: 8px;
}


.about p {
    font-size: 20px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* add item page */
.form p {
    font-size: 16px; 
    color: #333; 
    width: 50%;
}
.form-heading {
    font-size: 50px;
    text-transform: capitalize;
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
 
.form-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #CD853F;
}

/*footer*/
.footer {
    width: 100%;
    color: #CD853F; 
    padding: 20px 0; 
    margin-top: auto; /* Add this line to push the footer to the bottom */
}

