* {
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 100%;
    margin-top: 80px;
    min-height: 100vh;
}

/* Navbar styling */
.navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover,
.nav-link.active {
    color: #CD853F;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/*about page*/
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8%;
}


.about {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.about h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    text-decoration: underline #fff;
    text-underline-offset: 8px;
}


.about p {
    font-size: 20px;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*footer*/
footer {
    height: 100px;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;

}
