{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="wrapper"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static '
        images/about-background.PNG" %}');">
        <div class="about">
            <h1>About Chilled Beans</h1>
            <p>Welcome to Chilled Beans, your ultimate destination for all things related to iced coffee! At Chilled
                Beans, we're passionate about bringing you the best recipes, tips, and tricks for making delicious and
                refreshing iced coffee drinks right in the comfort of your own home.</p>
            <p>Whether you're a coffee aficionado looking to expand your repertoire of coffee creations or a beginner
                wanting to learn the basics, Chilled Beans has got you covered. Our team of coffee enthusiasts works
                tirelessly to curate a collection of mouthwatering recipes that cater to every taste and preference.</p>
            <p>But that's not all – at Chilled Beans, we believe in community and collaboration. That's why we invite
                you to share your own iced coffee recipes with us! Whether it's a family favorite, a new experiment, or
                a twist on a classic, we welcome all contributions from our fellow coffee lovers. Simply sign up for an
                account and start sharing your recipes with the Chilled Beans community today!</p>
            <p>From classic iced coffee blends to unique and innovative concoctions, our blog is your go-to resource for
                discovering new and exciting ways to enjoy your favorite caffeinated beverage. So grab your favorite
                mug, kick back, and explore the wonderful world of iced coffee with Chilled Beans!</p>
        </div>
    </div>
</main>
{% endblock %}