{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center p-2">Love coffee but looking for something new to try?</h2>
    <p class="justify-text">Check out my amazing iced coffee recipes that will make your taste buds jump for joy.
        You can customize it however you like with milk, sugar, or flavored syrups.</p>
    <p class="justify-text">With those recipes, you can make iced coffee that’s just as delicious (or even more delicious)
        than what you’d get at your favorite coffee shop. Plus, it won’t cost you a fortune. All of the recipes are easy
        to follow and use ingredients that are readily available in most grocery stores.</p>
    <p class="justify-text">Check them out below!</p>


    {{ user_favourite_recipes }}
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for recipe in recipes %}
        {% if recipe.user.is_superuser %}
        <a href="{% url 'full_recipe' pk=recipe.pk %}" class="recipes recipe-card-title"
            aria-label="Click to view {{recipe.title}}">
            <div class="card m-3 recipe-card">
                <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                <div class="card-overlay">
                    {% if recipe.is_favourite %}
                    <i class="fa fa-star icon-favourite card-overlay-icon"></i>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h2 class="card-title recipe-card-title">{{recipe.title}}</h2>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
