{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center p-2">Love coffee but looking for something new to try?</h2>
    <p class="justify-text">Check out my amazing iced coffee recipes that will make your taste buds jump for joy.
        You can customize it however you like with milk, sugar, or flavored syrups.</p>
    <p class="justify-text">With those recipes, you can make iced coffee that’s just as delicious (or even more delicious)
        than what you’d get at your favorite coffee shop. Plus, it won’t cost you a fortune. All of the recipes are easy
        to follow and use ingredients that are readily available in most grocery stores.</p>
    <p class="justify-text">Check them out below!</p>
</div>
<ul>
    {% for recipe in recipes %}
        <li>{{ recipe.title }}</li>
    {% endfor %}
</ul>
{% endblock %}
