{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container mt-5">
    <h1>Welcome to Chilled Beans Blog!</h1>
    <p>We're thrilled to have you here. Explore our collection of delicious iced coffee recipes and start your journey into the wonderful world of coffee!</p>
</div>

<div class="container mt-5">
    <h2>Featured Recipes</h2>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static recipe.image.url %}" class="card-img-top" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

    