{% extends "base.html" %}
{% load static %}

{% block content %}




    {{ user_favourite_recipes }}
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        {% for recipe in recipes %}
        {% if recipe.user.is_superuser %}
        <a href="{% url 'full_recipe' pk=recipe.pk %}" class="recipes recipe-card-title"
            aria-label="Click to view {{recipe.title}}">
            <div class="card m-3 recipe-card">
                <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" class="card-img-top">
                <div class="card-overlay">
                    {% if recipe.is_favourite %}
                    <i class="fa fa-star icon-favourite card-overlay-icon"></i>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h2 class="card-title recipe-card-title">{{recipe.title}}</h2>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
